body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    width: 80%;
}

.block {
    flex: 1;
    padding: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 5px 0;
    cursor: pointer;
}
